modules = ["nodejs-20", "web"]
run = "cd WaitlistWizard && npm run dev"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41084699
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd WaitlistWizard && npm run dev"

[deployment]
run = ["sh", "-c", "cd WaitlistWizard && npm run dev"]

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5006
externalPort = 80
